ul {
  padding: 10px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  & li {
    min-width: 80px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid red;
    font-size: 20px;
  }
}
.hide {
  display: none;
}
